--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-dotenv
langgraph
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
torch==2.8.0+cpu
google-api-python-client
groq